body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#meuVideo {
    width: 100%;  /* Ajuste conforme necessário */
    max-width: 600px;
    border: 2px solid #000;
    border-radius: 10px;
}

